/common/build/*
/fabric/build/*

/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/fabric/.gradle/architectury/.main_class
/fabric/.gradle/architectury/.properties
/fabric/.gradle/architectury/.transforms
/.gradle/architectury/architectury-transformer-agent.jar
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.8/checksums/checksums.lock
/.idea/compiler.xml
/common/.gradle/.architectury-transformer/debug.log
/.idea/discord.xml
/.gradle/8.8/executionHistory/executionHistory.bin
/.gradle/8.8/executionHistory/executionHistory.lock
/fabric/build/resources/main/fabric.mod.json
/.gradle/file-system.probe
/.gradle/8.8/fileHashes/fileHashes.bin
/.gradle/8.8/fileHashes/fileHashes.lock
/.gradle/8.8/dependencies-accessors/gc.properties
/.gradle/8.8/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/.idea/intellij-javadocs-4.0.1.xml
/.idea/jarRepositories.xml
/.gradle/8.8/fileChanges/last-build.bin
/fabric/.gradle/loom-cache/launch.cfg
/fabric/.gradle/loom-cache/log4j.xml
/common/build/tmp/jar/MANIFEST.MF
/common/build/tmp/remapJar/MANIFEST.MF
/common/build/tmp/remapSourcesJar/MANIFEST.MF
/common/build/tmp/sourcesJar/MANIFEST.MF
/common/build/tmp/transformProductionFabric/MANIFEST.MF
/fabric/build/tmp/jar/MANIFEST.MF
/fabric/build/tmp/remapJar/MANIFEST.MF
/fabric/build/tmp/remapSourcesJar/MANIFEST.MF
/fabric/build/tmp/shadowJar/MANIFEST.MF
/fabric/build/tmp/sourcesJar/MANIFEST.MF
/.gradle/8.8/checksums/md5-checksums.bin
/.gradle/loom-cache/minecraftMaven/net/minecraft/minecraft-merged-9987e71d9b/1.21.1-loom.mappings.1_21_1.layered+hash.40545-v2/minecraft-merged-9987e71d9b-1.21.1-loom.mappings.1_21_1.layered+hash.40545-v2.jar
/.gradle/loom-cache/minecraftMaven/net/minecraft/minecraft-merged-9987e71d9b/1.21.1-loom.mappings.1_21_1.layered+hash.40545-v2/minecraft-merged-9987e71d9b-1.21.1-loom.mappings.1_21_1.layered+hash.40545-v2.pom
/.gradle/loom-cache/minecraftMaven/net/minecraft/minecraft-merged-d500fab9a3/1.21.1-loom.mappings.1_21_1.layered+hash.40545-v2/minecraft-merged-d500fab9a3-1.21.1-loom.mappings.1_21_1.layered+hash.40545-v2.jar
/.gradle/loom-cache/minecraftMaven/net/minecraft/minecraft-merged-d500fab9a3/1.21.1-loom.mappings.1_21_1.layered+hash.40545-v2/minecraft-merged-d500fab9a3-1.21.1-loom.mappings.1_21_1.layered+hash.40545-v2.pom
/.gradle/loom-cache/minecraftMaven/net/minecraft/minecraft-merged-db206701e1/1.21.1-loom.mappings.1_21_1.layered+hash.40545-v2/minecraft-merged-db206701e1-1.21.1-loom.mappings.1_21_1.layered+hash.40545-v2.jar
/.gradle/loom-cache/minecraftMaven/net/minecraft/minecraft-merged-db206701e1/1.21.1-loom.mappings.1_21_1.layered+hash.40545-v2/minecraft-merged-db206701e1-1.21.1-loom.mappings.1_21_1.layered+hash.40545-v2.pom
/.idea/runConfigurations/Minecraft_Client___fabric__fabric.xml
/.idea/runConfigurations/Minecraft_Server___fabric__fabric.xml
/.idea/misc.xml
/common/build/loom-cache/mixin-map-loom.mappings.1_21_1.layered+hash.40545-v2.main.tiny
/.idea/modules.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/common/build/tmp/compileJava/previous-compilation-data.bin
/fabric/build/tmp/compileJava/previous-compilation-data.bin
/common/.gradle/architectury-cache/projectID
/fabric/.gradle/architectury-cache/projectID
/fabric/.gradle/loom-cache/remapClasspath.txt
/.gradle/8.8/fileHashes/resourceHashesCache.bin
/.gradle/8.8/checksums/sha1-checksums.bin
/.idea/modules/common/waterly.common.iml
/.idea/modules/common/waterly.common.main.iml
/.idea/modules/common/waterly.common.test.iml
/.idea/modules/fabric/waterly.fabric.main.iml
/.idea/modules/fabric/waterly.fabric.test.iml
/common/build/libs/waterly-common-0.1.jar
/common/build/devlibs/waterly-common-0.1-dev.jar
/common/build/devlibs/waterly-common-0.1-sources.jar
/common/build/libs/waterly-common-0.1-sources.jar
/common/build/libs/waterly-common-0.1-transformProductionFabric.jar
/common/build/libs/waterly-common-0.1-transformProductionNeoForge.jar
/common/build/classes/java/main/waterly-common-common-refmap.json
/fabric/build/libs/waterly-fabric-0.1.jar
/fabric/build/devlibs/waterly-fabric-0.1-dev.jar
/fabric/build/libs/waterly-fabric-0.1-dev-shadow.jar
/fabric/build/devlibs/waterly-fabric-0.1-sources.jar
/fabric/build/libs/waterly-fabric-0.1-sources.jar
